<div ng-repeat="alert in getCurrentAlerts() track by $index" class="alert alert-{{alert.type}} alert-dismissible" role="alert">
	<button type="button" class="close" ng-click="close($index)" aria-label="Close"><span aria-hidden="true">×</span></button>
	<h4 ngShow="alert.title">{{alert.title}}</h4>
	<p>{{alert.message}}</p>
	<p>
		<button type="button" class="btn btn-{{alert.type}}" ng-show="alert.acceptHandler" ng-click="accept($index)">OK</button>
		<button type="button" class="btn btn-default" ng-show="alert.declineHandler" ng-click="decline($index)">Cancel</button>
		<button type="button" class="btn btn-{{alert.type}}" ng-hide="alert.acceptHandler || alert.declineHandler" ng-click="close($index)">Close</button>
	</p>
</div>
