<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-sm-12 form-horizontal" ng-class="theme.name">
			<div class="form-group">
				<label for="field_theme" class="col-sm-2 col-xs-12 control-label">Theme</label>
				<div class="col-sm-10 col-xs-12">
					<select ng-options="t.label for t in themes" ng-model="theme" class="form-control"></select>
				</div>
			</div>
			<div class="putty-preview">
				<div class="row-border-top">
					<div class="border-top-left"></div>
					<div class="icon">
						<img src="assets/img/putty-16.png" alt="icon" title="PuTTY Icon" />
					</div>
					<div class="title">PuTTY<span ng-show="sessionName"> -- {{sessionName}}</span></div>
					<div class="border-top-right"></div>
				</div>
				<div class="row-content">
					<div class="border-left"></div>
					<div class="content preview-content">
						<p><span class="fg-green bold">putty</span>@<span class="fg-blue bold">server</span> ~ $ colors.sh</p>
						<p>             default  black    red    green   yellow  blue   magenta  cyan    white  </p>
						<div ng-repeat="cellY in previewCells track by $index">
							<p>{{cellY}}      <span ng-repeat="cellX in previewCells track by $index" ng-class="getClassesForCell(cellY, cellX, false)">  gYw   </span></p>
							<p>{{cellY}} bold <span ng-repeat="cellX in previewCells track by $index" ng-class="getClassesForCell(cellY, cellX, true)">  gYw   </span></p>
						</div>
						<p><span class="fg-green bold">putty</span>@<span class="fg-blue bold">server</span> ~ $ l<span class="cursor">s</span></p>
					</div>
					<div class="border-right"></div>
				</div>
				<div class="row-border-bottom">
					<div class="border-bottom-left"></div>
					<div class="border-bottom-right"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="field_profile_name" class="col-md-3 col-sm-2 col-xs-12 control-label">Profile Name</label>
					<div class="col-md-9 col-sm-10 col-xs-12">
						<input type="text" id="field_profile_name" name="author" class="form-control" placeholder="Profile Name" ng-model="profileName" />
					</div>
				</div>
				<div class="form-group">
					<label for="field_session_name" class="col-md-3 col-sm-2 col-xs-12 control-label">Session Name</label>
					<div class="col-md-9 col-sm-10 col-xs-12">
						<input type="text" id="field_session_name" name="session_name" class="form-control" placeholder="Default Session" ng-model="sessionName" />
					</div>
				</div>
				<div class="form-group">
					<label for="field_author" class="col-md-3 col-sm-2 col-xs-12 control-label">Author</label>
					<div class="col-md-9 col-sm-10 col-xs-12">
						<input type="text" id="field_author" name="author" class="form-control" placeholder="Author" ng-model="authorName" />
					</div>
				</div>
				<div class="form-group">
					<label for="field_author_url" class="col-md-3 col-sm-2 col-xs-12 control-label">URL</label>
					<div class="col-md-9 col-sm-10 col-xs-12">
						<input type="text" id="field_author_url" name="author_url" class="form-control" placeholder="URL" ng-model="authorUrl" />
					</div>
				</div>
			</div>
			<div class="well">
				<div class="form-group">
					<label class="control-label">Color Type</label>
					<div class="profileBar form-control" ng-keydown="navColor($event)" tabindex="0">
						<div href="Javascript:;" ng-repeat="color in editorProfile track by color.name" ng-click="$parent.currentColor = color" class="item" ng-class="{'active': color.name == currentColor.name}" ng-style="{'background-color': color.color.toHexString()}" uib-tooltip="{{color.label}}" tooltip-append-to-body="true"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="field_color" class="control-label">{{currentColor.label}}</label>
					<input type="text" id="field_color" color-value="hex" ng-model="currentColor.color" minicolors class="form-control" />
				</div>
				<div class="form-group">
					<label for="field_red_component" class="control-label">Red Component</label>
					<div class="row">
						<div color-value="red" ng-model="currentColor.color" color-component-spinner="red" read-only field-id="field_red_component" class="col-sm-4 col-xs-12"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="field_green_component" class="control-label">Green Component</label>
					<div class="row">
						<div color-value="green" ng-model="currentColor.color" color-component-spinner="green" read-only field-id="field_green_component" class="col-sm-4 col-xs-12"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="field_blue_component" class="control-label">Blue Component</label>
					<div class="row">
						<div color-value="blue" ng-model="currentColor.color" color-component-spinner="blue" read-only field-id="field_blue_component" class="col-sm-4 col-xs-12"></div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-click="saveProfile()"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
				<button type="button" class="btn btn-default" ng-click="exportProfile()"><i class="fa fa-share" aria-hidden="true"></i>&nbsp;Export</button>
			</div>
		</div>
	</div>
</div>