<div class="modal static" tabindex="-1" role="dialog" aria-labelledby="modal_import_title">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" nav-action="/" class="close" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Import</h4>
			</div>
			<div class="modal-body">
				<textarea ng-model="importCode" rows="12" class="form-control" placeholder="Paste Windows Registry code here..."></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="doImport()">Import</button>
				<button type="button" class="btn btn-default" nav-action="/">Cancel</button>
			</div>
		</div>
	</div>
</div>