<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-xs-12">
			<h1>Presets</h1>
			<hr />
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="preset in presets track by $index">
					<a href="Javascript:;" ng-click="loadPreset($index)">
						<p>
							<span>{{preset.name}}</span>
							<span ng-show="preset.author">({{preset.author}})</span>
						</p>
						<div style="display:flex;">
							<div ng-repeat="propName in profileDataKeys track by $index" ng-style="{width: '16px', height: '16px', backgroundColor: preset.data[propName]}" uib-tooltip="{{profileColorNames[$index]}}" tooltip-append-to-body="true"></div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>