.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/bower_components
/node_modules
/www/assets
/typings
/vendor
/app/logs/*.log
/app/config.json
.settings/
.buildpath
.project