.theme-metro-red .putty-preview {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(170,170,170,1);
	-moz-box-shadow: 0px 0px 10px 1px rgba(170,170,170,1);
	box-shadow: 0px 0px 10px 1px rgba(170,170,170,1);
}

.theme-metro-red .putty-preview .row-border-top {
	height: 31px;
	line-height: 31px;
}

	.theme-metro-red .putty-preview .row-border-top .border-top-left,
	.theme-metro-red .putty-preview .row-border-top .border-top-right {
		background-repeat: no-repeat;
		width: 8px;
		height: 31px;
	}

	.theme-metro-red .putty-preview .row-border-top .border-top-left {
		background-image: url('border_top_left.png');
	}

	.theme-metro-red .putty-preview .row-border-top .icon,
	.theme-metro-red .putty-preview .row-border-top .title {
		background-image: url('border_top_tile.png');
		background-repeat: repeat-x;
	}

	.theme-metro-red .putty-preview .row-border-top .title {
		text-align: center;
		font-family: "Segoe UI", Verdana, sans-serif;
		font-size: 12pt;
	}

	.theme-metro-red .putty-preview .row-border-top .border-top-right {
		background-image: url('border_top_right.png');
		width: 103px;
	}

.theme-metro-red .putty-preview .row-content .border-left,
.theme-metro-red .putty-preview .row-content .border-right {
	width: 8px;
	background-repeat: repeat-y;
}

.theme-metro-red .putty-preview .row-content .border-left {
	background-image: url('border_left_tile.png');
}

.theme-metro-red .putty-preview .row-content .border-right {
	background-image: url('border_right_tile.png');
}

.theme-metro-red .putty-preview .row-border-bottom {
	height: 8px;
	background-image: url('border_bottom_tile.png');
	background-repeat: repeat-x;
}

	.theme-metro-red .putty-preview .row-border-bottom .border-bottom-right,
	.theme-metro-red .putty-preview .row-border-bottom .border-bottom-left {
		height: 8px;
		width: 8px;
		background-repeat: no-repeat;
	}

	.theme-metro-red .putty-preview .row-border-bottom .border-bottom-left {
		background-image: url('border_bottom_left.png');
	}

	.theme-metro-red .putty-preview .row-border-bottom .border-bottom-right {
		background-image: url('border_bottom_right.png');
	}
