<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="puttycolors.app">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>PuTTY Colors</title>
	<link rel="stylesheet" href="assets/css/jquery.minicolors.css" />
	<link rel="stylesheet" href="assets/css/bootstrap.css" />
	<link rel="stylesheet" href="assets/css/font-awesome.css" />
	<link rel="stylesheet" href="assets/css/putty.css" />
	<link rel="stylesheet" href="assets/css/animations.css" />
	<link rel="stylesheet" href="assets/themes/metro-red/theme.css" />
	<link rel="stylesheet" href="assets/themes/luna-blue/theme.css" />
	<link rel="stylesheet" href="assets/themes/luna-silver/theme.css" />
	<link rel="stylesheet" href="assets/themes/ten/theme.css" />
	<link rel="stylesheet" href="assets/themes/classic/theme.css" />
	<link rel="icon" type="image/png" href="assets/img/putty-16.png" />
	<style type="text/css" preview-style></style>
	<base href="/" />
</head>
<body ng-controller="mainController">
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation" ng-cloak>
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-click="isMainNavCollapsed = !isMainNavCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a ui-sref="editor" class="navbar-brand">PuTTY Colors</a>
			</div>
			<div class="collapse navbar-collapse" uib-collapse="isMainNavCollapsed" id="main_nav">
				<ul class="nav navbar-nav">
					<li ui-sref-active="active"><a ui-sref="editor"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;<span ng-show="currentProfile">&quot;{{currentProfile.name}}&quot;</span><span ng-hide="currentProfile">Editor</span></a></li>
					<li ui-sref-active="active"><a ui-sref="profiles"><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;Profiles</a></li>
					<li ui-sref-active="active"><a ui-sref="about"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- BEGIN resolve-loader -->
	<div resolve-loader class="modal static" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-fit">
			<div class="modal-content">
				<div style="width:72px;height:72px;line-height:72px;">
					<i class="fa fa-cog fa-spin fa-4x fa-fw" aria-hidden="true"></i>
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>
	</div>
	<div resolve-loader class="modal-backdrop in"></div>
	<!-- END resolve-loader -->

	<div ng-cloak>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-xs-12">
					<div ng-repeat="alert in getCurrentAlerts() track by $index" uib-alert class="slideTop" ng-class="'alert-' + (alert.type || 'warn')" close="closeAlert($index)" dismiss-on-timeout="{{alert.timeout}}">
						<h4 ng-show="alert.title">{{alert.title}}</h4>
						<p>{{alert.message}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ui-view></div>

	<footer>
		<div><strong>&copy; <span date-now="yyyy"></span> </strong> Matt Schneeberger</div>
		<div>&nbsp;--&nbsp;<a href="http://www.schneenet.com/" target="_blank">SCHNEENET Internet Services</a></div>
		<div>&nbsp;--&nbsp;<a href="http://www.gnu.org/licenses/gpl-2.0.html" target="_blank">License</a></div>
		<div>&nbsp;--&nbsp;<a ui-sref="about">About</a></div>
	</footer>

	<script src="assets/js/vendor/tinycolor.js"></script>
	<script src="assets/js/vendor/tv4.js"></script>
	<script src="assets/js/vendor/jquery.js"></script>
	<script src="assets/js/vendor/jquery.minicolors.js"></script>
	<script src="assets/js/vendor/angular.js"></script>
	<script src="assets/js/vendor/angular-animate.js"></script>
	<script src="assets/js/vendor/angular-minicolors.js"></script>
	<script src="assets/js/vendor/angular-json-validator.js"></script>
	<script src="assets/js/vendor/angular-ui-router.js"></script>
	<script src="assets/js/vendor/ui-bootstrap-tpls.js"></script>
	<script src="assets/js/svc.alerts.js"></script>
	<script src="assets/js/svc.export.js"></script>
	<script src="assets/js/svc.import.js"></script>
	<script src="assets/js/svc.profiles.js"></script>
	<script src="assets/js/svc.tinycolor.js"></script>
	<script src="assets/js/svc.share.js"></script>
	<script src="assets/js/controllers.js"></script>
	<script src="assets/js/directives.js"></script>
	<script src="assets/js/cfg.exports.js"></script>
	<script src="assets/js/cfg.imports.js"></script>
	<script src="assets/js/app.js"></script>
</body>
</html>