<div class="modal-header">
	<button type="button" ng-click="$close()" class="close" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Export</h4>
</div>
<div class="modal-body form-horizontal">
	<div class="form-group-lg" ng-show="shareUrl && !shareError">
		<input type="text" class="form-control" ng-model="shareUrl" ng-readonly="true" />
	</div>
	<div class="center" ng-hide="shareUrl || shareError"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span></div>
	<div class="alert alert-danger" ng-show="shareError">{{shareError}}</div>
</div>
