html,body {
	background-color: #DEDEDE;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

*,h1,h2,h3,h4,h5,h6 {
	font-family: "Consolas", "Courier New", monospace;
}

div.putty-preview {
	width: 100%;
	position: relative;
	height: 419px;
	min-height: 100px;
	margin-bottom: 12px;
}

div.putty-preview .border-top {
	position: absolute;
	top: 0px;
	height: 31px;
	left: 0px;
	right: 0px;
	background-image: url('../img/border_top_tile.png');
	background-repeat: repeat-x;
}

div.putty-preview .border-top .title {
	position: absolute;
	top: 0px;
	height: 31px;
	line-height: 31px;
	left: 100px;
	right: 100px;
	text-align: center;
	font-family: "Segoe UI", Verdana, sans-serif;
	font-size: 14pt;
}

div.putty-preview .border-left {
	position: absolute;
	top: 31px;
	left: 0px;
	bottom: 8px;
	width: 8px;
	background-image: url('../img/border_left_tile.png');
	background-repeat: repeat-y;
}

div.putty-preview .border-right {
	position: absolute;
	top: 31px;
	right: 0px;
	bottom: 8px;
	width: 8px;
	background-image: url('../img/border_right_tile.png');
	background-repeat: repeat-y;
}

div.putty-preview .content {
	position: absolute;
	top: 31px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	overflow: auto;
}

div.putty-preview .border-bottom {
	position: absolute;
	bottom: 0px;
	height: 8px;
	left: 0px;
	right: 0px;
	background-image: url('../img/border_bottom_tile.png');
	background-repeat: repeat-x;
}

div.putty-preview .content p {
	margin: 2px;
	white-space: pre;
	line-height: 1em;
}

.center
{
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #cc6666;
	text-align: center;
	line-height: 60px;
	color: #f5f5f5;
}

footer a {
	color: #aaaaff;
}

footer a:hover {
	color: #9999ee;
}